.hero-section {
  height: 80vh;
  background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836');
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section span {
  color: #dc3545;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;

  /* animation */
  animation: slideUpCenter 1.6s ease-out forwards;
}

@keyframes slideUpCenter {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-50% + 60px));
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
