<div class="hero-section">
  <div class="hero-content text-center">
    <h1>   We ready to <span>Deliver</span> food anytime</h1>
    <p>Order from your favourite restaurants</p>
    <button class="btn btn-danger btn-lg" (click)="orderNow()">Order Now</button>
  </div>
</div>

<div class="container mt-5">
  <div class="row text-center">
    <div class="col-md-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png" width="80">
      <h4 class="mt-3">Fast Delivery</h4>
      <p>Get your food in under 30 minutes</p>
    </div>

    <div class="col-md-4">
      <img src="https://cdn-icons-png.flaticon.com/512/2921/2921822.png" width="80">
      <h4 class="mt-3">Best Restaurants</h4>
      <p>Top-rated restaurants near you</p>
    </div>

    <div class="col-md-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3595/3595455.png" width="80">
      <h4 class="mt-3">Easy Payment</h4>
      <p>Secure online payment</p>
    </div>
  </div>
</div>
