<footer class="footer bg-dark text-light mt-5">
  <div class="container py-5">

    <div class="row">

      <div class="col-md-3">
        <h5>🍔 Foodie</h5>
        <p>Delivering happiness at your doorstep.</p>
      </div>

      <div class="col-md-3">
        <h6>Company</h6>
        <ul class="list-unstyled">
          <li>About</li>
          <li>Careers</li>
          <li>Team</li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6>Help</h6>
        <ul class="list-unstyled">
          <li>Contact</li>
          <li>Support</li>
          <li>FAQs</li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6>Follow Us</h6>
        <p>
          🌐 Facebook <br>
          📸 Instagram <br>
          🐦 Twitter
        </p>
      </div>

    </div>

    <hr class="bg-secondary">

    <div class="text-center">
      © 2025 Foodie. All rights reserved.
    </div>

  </div>
</footer>
